<app-navbar></app-navbar>
<div class="row">
  <div class="col">Customer</div>
  <div class="col">
    <select name="" id="" class="form-select" (change)="selectPotion($event)">
      <option value="" selected>Selecione...</option>
      <option value="{{ potion.id }}" *ngFor="let potion of potionstorage">
        {{ potion.name }} (x{{ potion.quantity }})
      </option>
    </select>
    <div *ngIf="selectedPotion" class="mt-4">
      <ul>
        <li>Nome: {{ selectedPotion.name }}</li>
        <li>Preço: {{ selectedPotion.price }}</li>
      </ul>
    </div>
    <div *ngIf="selectedPotion">
      <button class="btn btn-primary" (click)="toggleBargain()">
        Barganhar
      </button>
      <input
        type="range"
        name="bargain"
        id="bargain"
        *ngIf="isBargain"
        [(ngModel)]="bargainPrice"
        (ngModelChange)="bargain($event)"
        value="{{bargainPrice}}"
        [max]="maxBargain"
      />
      <span>Preço: {{ bargainPrice }}</span>
    </div>
  </div>
</div>
