  <h1 class="mt-4">O começo...</h1>
  <div class="row">
    <div class="col">
      <p>
        Você é um alquimista acusado de pacto com criaturas sobrenaturais. Está
        fugindo de outro reino distante. Em um momento de desespero, encontrou um
        feudo. Ao chegar lá, apresentou-se aos guardas como um curandeiro. Eles o
        levaram ao senhor feudal. Chegando ao grande salão do feudo, fez sua
        apresentação ao Senhor Feudal:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <em>
          - Saudações, vossa alteza. Meu nome é {{playerName}}. Tenho conhecimentos em
          herbologia, cura e alquimia. Não tenho terras e também fui acusado de
          bruxaria em outro reino e estou sendo perseguido. Busco em vossa terra,
          um lugar para me instalar secretamente.
        </em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <em>
          - Você diz possuir conhecimentos de cura e meu filho está doente. Seria você um enviado de Deus a este feudo? Meu filho está prostrado e não consegue andar. Suas pernas estão maculadas com algum tipo de mal. Salve meu filho e darte-ei um pedaço de terra. Porém deverá seguir com seu ofício para o benefício do povo. Poderá abrir uma loja para oferecer seus serviços. Deverá também pagar ao feudo parte dos bens que conseguir. Em retribuição, lhe oferecerei comida, uma casa e segurança. Caso venha a descumprir nosso acordo aqui firmado, será expulso do feudo.
        </em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        O senhor feudal te leva até o quarto de seu filho. Você observa as feridas que já se encontram em estado avançado, a carne exposta e bolhas pustulentas indicam a gravidade da inflamação. Por sorte, você preparou uma poção de cura antes de fugir caso acontecesse algum imprevisto.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <em>
          - Vai doer um pouco...
        </em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        O garoto acena positivamente com a cabeça e logo em seguida dá um grito devido a ardência. Você enfaixa a ferida agora limpa.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <em>
          - Vai passar. Amanhã mesmo iniciará a cicatrização. Ele ficará bem.
        </em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <em>
          - Guardas, ofereçam-lhe um quarto. Amanhã veremos o resultado.
        </em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        A noite passa e no dia seguinte, você encontra risadas vindo do jardim. Quando olha, vê o garoto brincando com seu cachorro. Você encontra-se com o senhor feudal, que lhe entrega um pergaminho feito em couro de cabra com os termos tratados no dia anterior.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <em>
          - Você cumpriu com sua promessa e eu cumprirei com a minha. Neste pergaminho, está a escritura que lhe garante um pedaço de terra e as condições para se manter aqui. Toda semana, um oficial irá lhe cobrar uma taxa. Pague-o para continuar a morar por aqui. Estará seguro. Aquieta teu coração. Guardas, levem para conhecer o local para que possa se instalar.
        </em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-end mb-4">
      <a class="btn btn-primary w-100" routerLink="../laboratorio">Próximo...</a>
    </div>
  </div>